# OS
.DS_Store
._*

# Editors
.idea/
.vscode/

# Dependencies
node_modules/

# Build
dist/

# Environment  
.env*

# Logs
logs/
*.log

/bin/
/build/
/out/
/target/

# Eclipse
.settings/
.classpath
.project

# IntelliJ
*.iml
*.iws
*.ipr
.idea/
