.layout {
    margin: 0 auto;
    max-width: 1080px;
}

main {
    clear: both;
    margin: 0 20px;
}

header {
    margin-bottom: 40px;
}

header a {
    font-size: 18px;
}

header a.navbar-brand {
    color: red !important;
    font-size: 28px;
    margin-right: 50px;
}

footer {
    border-top: 1px solid gray;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    margin-bottom: 20px;
}

section, .section {
    margin: 50px 0 50px 0;
}